@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600&display=swap");

:root {
  --White: #e8f6ef;
  --Primary: #22577a;
  --Secondary: #38a3a5;
  --Tertiary: #57cc99;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
}

#nav {
  background-image: url(Img/Vector.png);
}

.content {
  margin: 20px 80px;
}

.bg-vector {
  z-index: -9;
}

.title {
  color: var(--Primary);
  margin-top: 180px;
  font-size: 54px;
  font-weight: 600;
}

.description {
  color: var(--Primary);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 90px;
}

.CTA {
  background-color: var(--Secondary);
  color: var(--White);
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  /* margin-top: 97px; */
  padding: 18px 66px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185),
    0px 20px 13px rgba(0, 0, 0, 0.035),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519);
  border-radius: 25px;
  border: 0px;
}

.CTA:hover {
  transition: all 0.2s linear 0s;
  color: var(--White);
  background-color: var(--Primary);
}

.footer {
  font-size: 18px;
  font-weight: 400;
  color: var(--Primary);
  margin-top: 150px;
}

.footer a {
  text-decoration: none;
  color: var(--Secondary);
}